.benefits {
    min-height: 473px;
    padding: 70px 0 65px 0;
    background-color: #F6F6F6;
    &__icons {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__icon {
        width: 277px;
        text-align: center; 
        color: #0D0D0D;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 40px;
        }
        &__title {
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 18px;
            line-height: 29px;
        }
        &__descr {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            span {
                text-decoration-line: underline;
                color: #FF0000;
            }
        }
    }
    
}