@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .promo {
        min-height: 625px;
        &__logo {
            width: 230px;
        }
        &__title {
            font-size: 40px;
        }
        &__subtitle {
            font-size: 22px;
        }
        &__icons {
            margin-top: 50px;
        }
        &__link {
            font-size: 15px;
        }
    }
    .header {
        align-items: flex-start;
        &__official {
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 17px;
        }
    }
    .button{
        &_main {
            width: 245px;
        }
        &:hover{
            background-color: $main-color;
        }
    }
    .benefits {
        min-height: 450px;
        &__icons {
            margin-top: 40px;
        }
        &__icon {
            img {
                margin-bottom: 25px;
            }
        }
    }
    .consultation {
        padding: 25px 50px;
        &__descr {
            margin-top: 40px;
            font-size: 17px;
        }
    }
    .title {
        font-size: 26px;
        &_left {
            line-height: 45px;
        }
    }
    .form_wrapper {
        margin-top: 70px;
    }
    .carousel {
        min-height: 700px;
        &__inner {
            width: 100%;
            img {
                display: block;
                margin: 0 auto;
                width: 90%;
            }
        }
    }
    .catalog {
        &__content {
            justify-content: center;
        }
    }
    .feedback {
        &-item {
            &__descr {
                font-size: 14px;
            }
        }
    }
    .footer {
        &__social {
            &-item {
                &:hover{
                    background: rgba(0, 0, 0, 0.0001);
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 534px;
    }
    .promo {
        min-height: 585px;
        &__title {
            font-weight: 500;
            font-size: 35px;
            span {
                display: block;
                font-size: 40px;
                font-weight: 700;
            }
        }
        &__subtitle {
            margin-top: -5px;
            font-size: 16px;
        }
        &__link {
            margin-top: 4px;
            font-size: 12px;
        }
        &__icons {
            margin-top: 40px;
            width: 350px;
        }
    }
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 14px;
            }
        }
        &__phone { 
            font-size: 13px
        }
    }
    .button {
        width: 120px;
        height: 25px;
        font-size: 11px;
        &_main {
            width: 200px;
            height: 45px;
            font-size: 14px;
        }
        &_submit {
            width: 100%;
            height: 50px;
            font-size: 17px;
        }
        &_mini {
            height: 37px;
            font-size: 15px;
        }
    }
    .benefits {
        min-height: 370px;
        padding: 30px 20px;
        &__icons {
            margin-top: 25px;
        }
        &__icon{
            img {
                margin-bottom: 15px;
            }
            &_animated {
                animation: heartbeat 1.5s ease;
                animation-play-state: running;
                &:hover {
                    animation-play-state: paused;
                }
            }
            &__title{
                font-size: 15px;
                margin-bottom: 8px;
            }
            &__descr {
                font-size: 12px;
            }
        }
    }
    .consultation {
        min-height: 570px;
        &__descr {
            margin-top: 25px;
            text-align: center;
            font-size: 15px;
        }
    }
    .title {
        font-size: 24px;
        &_left {
            text-align: center;
            font-size: 22px;
            line-height: 35px;
        }
    }
    .form_wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 36px;
    }
    .carousel {
        min-height: 500px;
        padding: 35px 35px;
    }
    .catalog {
        &__tab {
            font-size: 16px;
        }
    }
    .feedback {
        &-item {
            flex-wrap: wrap;
            text-align: center;
            margin-top: 30px;
            &__img {
                width: 145px;
                height: 145px;
                display: block;
                margin: 0 auto;
            }
            &__author {
                margin-top: 15px;
            }
            &__descr {
                margin-top: 20px;
                font-size: 14px;
            }
        }
    }
    .footer {
        &__info {
            width: 430px;
        }
        &__address {
            font-size: 19px;
        }
        &__phone {
            font-size: 19px;
        }
    }
    .pageup {
        bottom: 10px;
        right: 10px;
    }
}
@media (max-width: 575px) {
    .promo {  
        min-height: 650px;
        padding: 12px 25px 20px 17px;
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__title {
            text-align: center;
            font-weight: 700;
            font-size: 55px;
            line-height: 55px;
            span {
                font-size: 43px;
            }
        }
        &__subtitle {
            font-size: 18px;
        }
        &__icons {
            width: 440px;
        }
        &__icon {
            width: 110px;
        }
        &__link {
            font-size: 13px;
        }
    }
    .header {
        &__logo {
            margin-top: 3px;
            width: 230px;
        }
        &__official {
            display: none;
        }
        &__phone {
            font-size: 15px;
        }
    }
    .button {
        width: 135px;
        height: 28px;
        &_main{
            width: 188px;
            height: 42px;
            font-size: 13px;
        }
        &_submit {
            width: 100%;
            height: 45px;
            font-size: 14px;
        }
        &_mini {
            width: 90px;
            height: 33px;
            font-size: 13px;
        }
    }
    .benefits {
        &__icons {
            flex-direction: column;
            align-items: center;
        }
        &__icon { 
            margin-bottom: 30px;
        }
    }
    .consultation {
        font-size: 9px;
        &__descr {
            font-size: 10px;
            line-height: 16px;
        }
    }
    .title {
        &_left {
            font-size: 12px;
            line-height: 24px;
            span {
                display: block;
                font-size: 24px;
            }
        }
    }
    .feed-form {
        width: 210px;
        input {
            font-size: 13px;
        }
        .error {
            margin-bottom: 10px;
            font-size: 13px;
        }
    }
    .carousel {
        min-height: 300px;
        &__inner {
            img {
                width: 100%;
            }
        }
        .slick-dots {
            margin-top: 50px;
            li {
                button {
                    width: 10px;
                    height: 12px;
                }
            }
        }
    }
    .catalog {
        &__tab {
            width: 85px;
            font-size: 9px;
        }
        &__content{  
            margin-top: 30px;
        }
        &-item {
            width: 265px;
            &__img {
                max-width: 90%;
            }
            &__subtitle {
                margin-top: 15px;
                font-size: 13px;
            }
            &__descr {
                margin-top: 10px;
                font-size: 11px;
                padding-right: 3px;
            }
            &__link {
                font-size: 11px;
            }
            &__list {
                li {
                    font-size: 11px;
                }
            }
            &__old-price {
                font-size: 11px; 
            }
            &__price {
                font-size: 17px;
            }
            &__back {
                font-size: 12px;
            }
        }
    }
    .feedback {
        &-item {
            &__author {
                margin-top: 13px;
            }
            &__subtitle {
                font-size: 12px;
            }
            &__descr {
                font-size: 11px;
                padding: 0 10px;
            }
        }
    }
    .footer {
        &__address {
            font-size: 14px;
            margin-bottom: 25px;
        }
        &__phone {
            margin-bottom: 38px;
            font-size: 15px;
        }
        &__info {
            height: 206px;
            width: 292px;
            padding: 25px 20px 30px 20px;
        }
        &__social {
            &-item {
                width: 40px;
                height: 40px;
                img {
                    height: 20px;
                }
            }
        }
    }
    .modal {
        min-height: 385px;
        padding: 30px 25px 25px 25px;
        width: 287px;
        &__close {
            top: 5px;
            right: 5px;
            font-size: 35px; 
        }
        &__subtitle {
            font-size: 17px;
            text-align: left;
        }
        &__descr {
            font-size: 11px;
            text-align: left;
        }
        .feed-form {
            width: 232px;
        }
        .error {
            font-size: 12px;
        }
    }
}
@media (max-width: 485px) {
    .promo {  
        &__title {
            font-size: 45px;
            line-height: 47px;
            span {
                font-size: 36px;
            }
        }
        &__subtitle {
            font-size: 13px;
        }
        &__icons {
            width: 265px;
        }
        &__icon {
            width: 67px;
            font-size: 11px;
        }
        &__link {
            font-size: 11px;
        }
    }
    .header {
        &__logo {
            margin-top: 3px;
            width: 125px;
        }
        &__phone {
            font-size: 10px;
        }
    }
    .button {
        width: 90px;
        height: 20px;
        font-size: 8px;
        &_main{
            width: 167px;
            height: 36px;
            font-size: 11px;
        }
        &_submit {
            width: 100%;
            height: 45px;
            font-size: 14px;
        }
        &_mini {
            width: 90px;
            height: 33px;
            font-size: 13px;
        }
    }
    .benefits {
        padding: 20px 0;
        &__icon { 
            width: 225px;
            margin-bottom: 30px;
            &__title {
                font-size: 14px;
            }
            &__descr {
                font-size: 10px;
            }
        }
    }
    .title {
        font-size: 20px;
        &_left {
            font-size: 12px;
            line-height: 24px;
            span {
                display: block;
                font-size: 20px;
            }
        }
    }
}